
training.csv
*.csv
__pycache__/
*.pkl
.DS_Store
config.json

# Ignorer les fichiers PNG
*.png

# Ignorer les fichiers temporaires ou de sauvegarde
*.tmp
*.log
*.bak
*.swp
~*

# Ignorer les sorties de Jupyter Notebook
.ipynb_checkpoints/
